# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/.env
backend/*.pyc

# Node
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/.env

# Général
.env
*.env
.DS_Store